# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Type=Service
MimeType=image/*;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=scan-image;

[Desktop Action scan-image]
Name=Scan data code
Name[ar]=امسح رمز البيانات
Name[ca]=Escaneig de codi de dades
Name[ca@valencia]=Escaneig de codi de dades
Name[en_GB]=Scan data code
Name[es]=Escanear código de datos
Name[fi]=Lue koodi
Name[fr]=Numériser un code de données
Name[it]=Scansione di codici dati
Name[ko]=데이터 코드 스캔
Name[nl]=Gegevenscode scannen
Name[pl]=Skanuj kody danych
Name[pt]=Analisar o código de dados
Name[sk]=Skenovať dátový kód
Name[sl]=Optično preberi podatkovno kodo
Name[sv]=Läs datakod
Name[tr]=Veri kodu tarayın
Name[uk]=Сканування кодів даних
Name[x-test]=xxScan data codexx
Name[zh_CN]=扫描数据码
Icon=kodaskanna
Exec=kodaskanna %u
