# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Type=Service
MimeType=image/*;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=scan-image;

[Desktop Action scan-image]
Name=Scan data code
Name[ca]=Escaneig de codi de dades
Name[es]=Escanear código de datos
Name[nl]=Gegevenscode scannen
Name[pl]=Skanuj kody danych
Name[sk]=Skenovať dátový kód
Name[sl]=Optično preberi podatkovno kodo
Name[sv]=Läs datakod
Name[uk]=Сканування кодів даних
Name[x-test]=xxScan data codexx
Icon=kodaskanna
Exec=kodaskanna %u
