# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Type=Application

Name=Kodaskanna
Name[ar]=ماسح الرمز
Name[ca]=Kodaskanna
Name[ca@valencia]=Kodaskanna
Name[cs]=Kodaskanna
Name[de]=Kodaskanna
Name[en_GB]=Kodaskanna
Name[eo]=Kodaskanna
Name[es]=Kodaskanna
Name[eu]=Kodaskanna
Name[fi]=Kodaskanna
Name[fr]=Kodaskanna
Name[gl]=Kodaskanna
Name[it]=Kodaskanna
Name[ka]=Kodaskanna
Name[ko]=Kodaskanna
Name[nl]=Kodaskanna
Name[nn]=Kodaskanna
Name[pl]=Kodaskanna
Name[pt]=Kodaskanna
Name[sk]=Kodaskanna
Name[sl]=Kodaskanna
Name[sv]=Kodaskanna
Name[tr]=Kodaskanna
Name[uk]=Kodaskanna
Name[x-test]=xxKodaskannaxx
Name[zh_CN]=Kodaskanna
GenericName=A multi-format 1D/2D code scanner
GenericName[ar]=ماسح ضوئي للرمز متعدد التنسيقات 1D / 2D
GenericName[ca]=Un escàner de codis 1D/2D multiformat
GenericName[ca@valencia]=Un escàner de codis 1D/2D multiformat
GenericName[en_GB]=A multi-format 1D/2D code scanner
GenericName[eo]=Plurformata 1D/2D-kodskanilo
GenericName[es]=Escáner de códigos 1D/2D multiformato
GenericName[eu]=Formatu anitzeko 1D/2D kode eskanerra
GenericName[fi]=Eri muotoja tukeva 1D/2D-koodinlukija
GenericName[fr]=A multi-format 1D/2D code scanner
GenericName[gl]=Un escáner de código 1D e 2D de varios formatos
GenericName[it]=Uno scanner di codici 1D/2D a più fattori
GenericName[ka]=მრავალფორმატიანი 1D/2D კოდის სკანერი
GenericName[ko]=다중 형식 1D/2D 코드 스캐너
GenericName[nl]=Een multi-format 1D/2D codescanner
GenericName[nn]=Skannar for 1D- og 2D-strekkodar
GenericName[pl]=Wieloformatowy skaner kodów 1D/2D
GenericName[pt]=Um analisador de códigos 1D/2D multi-formatos
GenericName[sk]=Viacformátový 1D/2D skener kódov
GenericName[sl]=Optični bralnik eno- in dvodimenzionalnih kod
GenericName[sv]=En en- och tvådimensionell kodläsare för flera format
GenericName[tr]=Çok Biçimli Bir 1B/2B Kod Tarayıcısı
GenericName[uk]=Багатоформатний сканер одно- і двовимірних кодів
GenericName[x-test]=xxA multi-format 1D/2D code scannerxx
GenericName[zh_CN]=多格式一维/二维码扫码器
Keywords=QR;Barcode;Code;Scanner;Decoder;Reader
Keywords[ar]=قارئ;ماسح;كود;رمز;شفرة
Keywords[ca]=QR;Codi de barres;Codi;Escàner;Descodificador;Lector
Keywords[ca@valencia]=QR;Codi de barres;Codi;Escàner;Descodificador;Lector
Keywords[en_GB]=QR;Barcode;Code;Scanner;Decoder;Reader
Keywords[eo]=QR;Striokodo;Kodo;Skanilo;Malkodilo;Legilo
Keywords[es]=QR;Código de barras;Código;Escáner;Descodificador;Decodificador;Lector
Keywords[eu]=QR;Barra-kode;Kode;Eskaner;Deskodetzaile;Irakurle
Keywords[fi]=QR;viivakoodi;koodi;skanneri;dekooderi;lukija
Keywords[fr]=QR ; Code barre ; Code ; périphérique de numérisation ;Décodeur ; Lecteur
Keywords[gl]=QR;código de barras;códigos de barras;barras;código;escáner;descodificador;lector
Keywords[it]=QR;codice a barre;codice;scanner;decodificatore;lettore
Keywords[ka]=QR;Barcode;Code;Scanner;Decoder;Reader
Keywords[ko]=QR;Barcode;Code;Scanner;Decoder;Reader;바코드;코드;스캐너;리더;
Keywords[nl]=QR;Barcode;Code;Scanner;Decodeerder;Lezer
Keywords[nn]=QR;strekkode;kode;kodar,skannar,scanner;dekodar;lesar
Keywords[pl]=QR;kod kreskowy;kod;skaner;dekoder;czytnik
Keywords[pt]=QR;Código de barras;Código;Digitalizador;Descodificador;Leitor
Keywords[sk]=QR;čiarový kód;kód;čítačka;dekodér;čítač
Keywords[sl]=QR;Črtna koda;Koda;Scaner;Dekodirnik;Bralnik
Keywords[sv]=QR;streckkod;kod;läsare;avkodare
Keywords[tr]=QR;kare kod;barkod;tarayıcı;çözücü;okuyucu
Keywords[uk]=QR;Barcode;Code;Scanner;Decoder;Reader;куар;баркод;штрихкод;код;сканер;декодер;зчитувач;
Keywords[x-test]=xxQRxx;xxBarcodexx;xxCodexx;xxScannerxx;xxDecoderxx;xxReaderxx
Keywords[zh_CN]=QR;Barcode;Code;Scanner;Decoder;Reader;条码;二维码;扫码;扫描器;tiaoma;erweima;saoma;saomiaoqi;
Icon=kodaskanna
Categories=Qt;KDE;Utility

Exec=kodaskanna
StartupWMClass=kodaskanna
